<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PBTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63D2E0A4211A8A8400503D9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63D2E0BC211A8A8600503D9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63D2E0C7211A8A8600503D9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
